/* utilities */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 100%;
}

/* header styling */
.header-height {
    height: 70vh;    
}

.bg-light-blue {
    background-color: #0D1721;
}

.header-h1-clr {
    color: #f7f7f7;
}

.header-p-width {
    color: #e0d6d6;
    width: 40vw;
}

/* card img height */
.card-img-height {
    height: 156px;
}

/* column devider */
.divider-rule {
    width: 1px;
    height: 66.9rem;
    background-color: #fff;
    margin-top: -47px;
}

/* selected player lists */
.selected-v-height {
    height: 312px;
    margin-left: -40px;
}

/* order list */
.list-style {
    margin-top: 2.5rem;
}

.list-style li {
    margin-top: 8px;
    font-size: 1.125rem;
}

/* selected player lists */
.budget-height {
    height: 470px;
    margin-left: -40px;
}

/* budget card */
.input-field-style {
    background: #555;
}